h1{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.MainForm{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 30px 20px 30px;
    background-color: darkgray;
    border-radius: 10px 10px 10px 10px;

}

.MainForm > .form-floating{
    width: 100%;
    margin-bottom: 20px;
}

.MailColumn{
    width: 80%;
}

.btn-group{
    width: 100%;
}

.btn-outline-primary{
    width: 100%;
    margin-bottom: 20px;
}


